* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .all-content {
  background-color: white;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

* .top-header {
  height: 36px;
  background: #233A95;
}

* .top-header .container p {
  font-size: .75rem;
  text-align: center;
  padding-top: .5625rem;
  padding-bottom: .5625rem;
  color: white;
  font-size: 12px;
  font-family: "roboto", sans-serif;
}

* .top-header .container p span {
  text-transform: uppercase;
  font-weight: 600;
}

* .bottom-header {
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
}

@media (max-width: 1190px) {
  * .bottom-header {
    display: none;
  }
}

* .bottom-header .bottom-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

* .bottom-header .bottom-header-container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .bottom-header .bottom-header-container .row .col-left ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

* .bottom-header .bottom-header-container .row .col-left ul li a {
  text-decoration: none;
  color: #3E445A;
  font-size: 12px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

* .bottom-header .bottom-header-container .row .col-left ul li a:hover {
  color: #2BBEF9 !important;
}

* .bottom-header .bottom-header-container .row .col-center {
  padding-top: 4px;
}

* .bottom-header .bottom-header-container .row .col-center .fa-hand {
  font-size: 15px;
}

* .bottom-header .bottom-header-container .row .col-center p {
  color: #3E445A;
  font-size: 12px;
  margin: 0;
}

* .bottom-header .bottom-header-container .row .col-right {
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3E445A;
  font-size: 12px;
  margin: 0;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span {
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  padding-right: 15px;
  cursor: pointer;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span .english-hover-div {
  background: white !important;
  display: none;
  right: 318px;
  position: absolute;
  color: black;
  -webkit-box-shadow: 1px 1px 2px #3e445a2b;
          box-shadow: 1px 1px 2px #3e445a2b;
  width: 70px;
  height: 90px;
  line-height: 2;
  padding-top: 10px;
  -webkit-transition: 0.3s linear !important;
  transition: 0.3s linear !important;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  z-index: 1123;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span .english-hover-div span {
  margin-left: 16px;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span .english-hover-div span:hover {
  color: #2BBEF9;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span .usd-hover-div {
  right: 318px;
  z-index: 1123;
  -webkit-box-shadow: 1px 1px 2px #3e445a2b;
          box-shadow: 1px 1px 2px #3e445a2b;
  display: none;
  position: absolute;
  color: black;
  width: 70px;
  height: 90px;
  line-height: 2;
  padding-top: 10px;
  -webkit-transition: 0.3s linear !important;
  transition: 0.3s linear !important;
  background: white !important;
  -webkit-transform: translate(65px, -4px);
          transform: translate(65px, -4px);
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span .usd-hover-div span {
  margin-left: 20px;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 span .usd-hover-div span:hover {
  color: #2BBEF9;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 #english:hover {
  color: #2BBEF9;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 #english:hover .english-hover-div {
  display: block;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 #usd:hover {
  color: #2BBEF9;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 #usd:hover .usd-hover-div {
  display: block;
}

* .bottom-header .bottom-header-container .row .col-right .col-right-2 i {
  font-size: 8px;
}

* .bottom-header .bottom-header-container .row .col-right a {
  text-decoration: none;
  color: #2BBEF9;
  font-weight: 900;
}

* .bottom-header .bottom-header-container .row .col-right a:hover {
  text-decoration: underline;
}

* .my-nav-bar {
  padding-top: 30px;
  height: 92px;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-2:hover {
  -webkit-box-shadow: 1px 1px 5px #3e445a2b;
          box-shadow: 1px 1px 5px #3e445a2b;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-2 {
  border: 1px solid #d9d9e9;
  left: -200px;
  width: 175px;
  position: relative;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 2px #3e445a2b;
          box-shadow: 1px 1px 2px #3e445a2b;
  cursor: pointer;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-2 .second-nav-left-2-icon {
  font-size: 13px;
  position: relative;
  left: 55px;
  bottom: -17px;
  opacity: 0.8;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-2 h5 {
  font-size: 12px;
  position: relative;
  top: 8.5px;
  opacity: 0.6;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-2 h4 {
  position: relative;
  top: 8px;
  font-size: 13px;
  color: #233a95;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal {
  -webkit-filter: brightness(100%) !important;
          filter: brightness(100%) !important;
  position: fixed;
  background-color: white;
  width: 420px;
  height: 532px;
  display: none;
  left: 530px;
  z-index: 9999;
  padding: 24px;
  border-radius: 7px;
  top: 95px;
  -webkit-transition: 1s;
  transition: 1s;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .fa-x {
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 20px;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal h5 {
  color: #202435;
  font-size: 16px;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal h4 {
  color: #202435;
  font-size: 12px;
  font-weight: 100;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-search-div {
  background-color: #f3f4f7;
  border-radius: 7px;
  padding-left: 15px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-search-div .search-icon {
  font-size: 20px;
  padding-right: 10px;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-search-div .search-area {
  height: 48px;
  background: none;
  border: none;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll {
  height: 365px;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area {
  height: 52px;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area .modal-area-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 18px;
  padding-right: 10px;
  cursor: pointer;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area .modal-area-name h5 {
  font-size: 14px;
  color: #202435;
  font-weight: 400;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area .modal-area-name:hover h5 {
  color: #233a95;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area .modal-area-name-desc {
  padding-right: 20px;
  border-radius: 25px;
  border: 1px solid #9b9bb4;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area .modal-area-name-desc h4 {
  position: relative;
  left: 10px;
  top: 3px;
  font-size: 10px;
  color: #9b9bb4;
}

* .my-nav-bar .my-nav-bar-container .row .select-loaction-modal .modal-scroll .modal-area-line {
  width: 100%;
  height: 0.5px;
  background-color: #9b9bb4;
  margin-top: 6px;
  opacity: 0.2;
  position: relative;
  top: 20px;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-1 img {
  width: 164px;
  height: 43px;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-left-1 span {
  font-size: 11px;
  color: #3e445a9a;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-center {
  position: relative;
  left: -140px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-center .second-nav-center-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-center .second-nav-center-search .search {
  border: solid 1px #f3f4f7;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: #f3f4f7;
  padding-left: 15px;
  font-size: 15px;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-center .second-nav-center-search .fa-solid {
  position: absolute;
  font-size: 25px;
  left: 500px;
  top: 19px;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-center .second-nav-center-search button {
  border: none;
  background-color: white;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right {
  position: relative;
  left: -100px;
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right .user-icon-border {
  border: 1px solid #3030303e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right .user-icon-border .fa-user {
  font-size: 16px;
  color: black !important;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right p {
  top: 6px;
  position: relative;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right .basket-icon-border {
  border: none;
  background-color: #f78da825;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right .basket-icon-border .fa-basket-shopping {
  color: #cf2e2e;
}

* .my-nav-bar .my-nav-bar-container .row .second-nav-right .basket-icon-border .basket-num-background {
  width: 20px;
  height: 20px;
  background-color: #cf2e2e;
  position: absolute;
  top: 3px;
  left: 130px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 13px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu {
  background-color: #2bbef9;
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 20px;
  cursor: pointer;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu .fa-chevron-down {
  color: white;
  font-size: 13px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu .fa-bars {
  color: white;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu p {
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: 6px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu .desc {
  width: 120px;
  height: 20px;
  background-color: #edeef5;
  position: absolute;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 224px;
  left: 167px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu .desc p {
  color: #71778e;
  font-size: 10px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list {
  display: none;
  position: absolute;
  width: 267px;
  top: 252.5px;
  left: 100px;
  height: auto;
  background-color: white;
  padding: 20px;
  padding-top: 10px !important;
  padding-bottom: 14px !important;
  border: 1px solid #3e445a22;
  border-radius: 1px;
  z-index: 9997;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div:hover h4 {
  color: #2BBEF9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div:hover h5 {
  color: #2BBEF9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div .categorie-menu-icon {
  padding-right: 10px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div h5 {
  color: #3E445A;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 400;
  margin: left;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div .i1 {
  margin-left: 60px;
  font-size: 10px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div .i2 {
  margin-left: 118px;
  font-size: 10px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 div h4 {
  font-size: 13px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 .categorie-menu-line {
  height: 0.5px;
  width: 100%;
  background-color: #202435;
  position: absolute;
  opacity: 0.2;
  left: 0px;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 .categorie-menu-bot {
  margin-top: 10px;
  height: 30px !important;
}

* .my-nav-bar .my-nav-bar-container .row .all-categories-menu-list .categories-menu-list-1 .categorie-menu-bot h4 {
  font-size: 14px;
  color: #3E445A;
  opacity: 0.8;
}

* .my-nav-bar .my-nav-bar-container .row .menu-row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
}

* .my-nav-bar .my-nav-bar-container .row .menu-row-list div {
  cursor: pointer;
  height: auto;
  width: auto;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

* .my-nav-bar .my-nav-bar-container .row .menu-row-list div p {
  position: relative;
  top: 6px;
}

* .my-nav-bar .my-nav-bar-container .row .menu-row-list div:hover {
  background-color: #bcebff72;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

* .my-nav-bar .my-nav-bar-container .row .menu-row-list div:hover p {
  color: #2bbef9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

* .slide .carousel .carousel-inner {
  margin-top: 85px;
}

* .fruits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1175px;
  height: 265px;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 6px;
  padding: 0;
}

* .fruits .big-photo {
  border: 1px solid rgba(0, 0, 0, 0.171);
  height: 100%;
  width: 233px;
  text-align: center;
}

* .fruits .big-photo img {
  width: 200px;
}

* .fruits .big-photo p {
  font-size: 12.5px;
}

* .fruits .big-photo h5 {
  font-size: 16px;
}

* .fruits .eight-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .fruits .eight-items .biscuit {
  width: 242.7624px;
  height: 132px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
}

* .fruits .eight-items .biscuit img {
  width: 100px;
  height: 80px;
  text-align: center;
  position: relative;
  top: 20px;
}

* .fruits .eight-items .biscuit .paragraph {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-top: 30px;
}

* .fruits .eight-items .biscuit .paragraph h4 {
  font-size: 16px;
}

* .fruits .eight-items .biscuit .paragraph h5 {
  font-size: 12.5px;
}

* .ala {
  padding-top: 40px;
  padding-left: 175px;
}

* .ala .second-chocolates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 1175px;
}

* .ala .second-chocolates .chobani {
  height: 744px;
  width: 780px;
  border: 2px solid #cf2e2e;
  border-radius: 7px;
  padding-left: 25px;
  padding-top: 25px;
}

* .ala .second-chocolates .chobani p {
  color: #233a95;
  font-size: 18px;
}

* .ala .second-chocolates .chobani .empty-point {
  border-radius: 15px;
  width: 350px;
  height: 11px;
  background-color: #c2c2d37d;
  position: relative;
  top: 50px;
}

* .ala .second-chocolates .chobani .empty-point .point {
  border-radius: 15px;
  width: 300px;
  height: 100%;
  background-color: #ff5500bc;
}

* .ala .second-chocolates .chobani .countdown {
  width: 230px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .ala .second-chocolates .chobani .countdown #countdown-num {
  color: #ffffff;
  font-size: 24px;
}

* .ala .second-chocolates .chobani .countdown p {
  color: #ED174A;
  padding: 2.7px;
  padding-top: 10px;
}

* .ala .second-chocolates .chobani .countdown .day {
  width: 48px;
  height: 48px;
  background-color: #ED174A;
  border: 1px solid #ED174A;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .ala .second-chocolates .chobani .countdown .hour {
  border: 1px solid #ED174A;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-color: #ED174A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .ala .second-chocolates .chobani .countdown .minute {
  border-radius: 4px;
  border: 1px solid #ED174A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background-color: #ED174A;
}

* .ala .second-chocolates .chobani .countdown .second {
  border-radius: 4px;
  border: 1px solid #ED174A;
  width: 48px;
  background-color: #ED174A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

* .ala .second-chocolates .chobani .countdown-desc {
  color: #c2c2d3;
  padding-top: 10px;
  font-size: 13px;
}

* .ala .second-chocolates .chobani .sale-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #ED174A;
  border-radius: 50%;
}

* .ala .second-chocolates .chobani .sale-div h4 {
  font-size: 24px;
  color: white;
  z-index: 1;
}

* .ala .second-chocolates .chobani img {
  width: 350px;
  z-index: -1;
  position: relative;
  margin-top: -80px;
}

* .ala .second-chocolates .sale-price {
  width: 130px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* .ala .second-chocolates .sale-price h5 {
  color: #c2c2d3;
  font-size: 20px;
  text-decoration: line-through;
}

* .ala .second-chocolates .sale-price h4 {
  color: #d51243;
  font-size: 24px;
}

* .ala .second-chocolates .chobani-desc {
  width: 300px;
  height: 50px;
}

* .ala .second-chocolates .chobani-desc p {
  cursor: pointer;
  font-size: 18px;
  color: #202435;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

* .ala .second-chocolates .chobani-desc p:hover {
  color: #3c4c94;
}

* .ala .second-chocolates .kg {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .ala .second-chocolates .kg p {
  color: #9b9bb4;
  font-size: 11px;
}

* .ala .second-chocolates .kg span {
  color: #00b853;
  font-size: 11px;
}

* .ala .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .ala .star i {
  font-size: 10px;
  color: #ffbf00;
}

* .ala .star h5 {
  font-size: 16px;
  color: #71778e;
  position: relative;
  top: 3px;
  left: 7.5px;
}

* .ala .available {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 40px;
}

* .ala .available h5 {
  color: #c2c2d3;
  font-size: 11px;
}

* .ala .available h4 {
  color: #233a95;
  font-size: 16px;
}

* .ala .chcoclates-two {
  border: 1px solid #c2c2d3;
  border-radius: 7px;
  width: 718.9 0.5px;
  height: 740px;
  margin-left: 51.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend {
  margin-top: -1px;
  margin-left: -1px;
  padding: 18px;
  border: 1px solid #c2c2d3;
  border-top-left-radius: 7px;
  width: 240px;
  height: 370px;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend h4 {
  font-size: 8px;
  background-color: #71778e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 80px;
  border-radius: 3px;
  letter-spacing: -0.5px;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend h5 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 50px;
  border-radius: 3px;
  font-size: 13px;
  background-color: #0692e3bc;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend img {
  width: 200px;
  z-index: -1;
  position: relative;
  margin-top: -57px;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc h3 {
  font-size: 14.5px;
  cursor: pointer;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc h3:hover {
  color: #3c4c94;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc #IN-STOCK {
  letter-spacing: -1px;
  font-size: 11px;
  color: #00b853;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc .star .non-yellow {
  color: #c2c2d3;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc .star h1 {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 2px;
  color: #71778e;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc .sale-price {
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc .sale-price .price-before {
  color: #c2c2d3;
  font-size: 15.3px;
  text-decoration: line-through;
}

* .ala .chcoclates-two .italian-style .sale-and-recommend .choco-desc .sale-price .price-now {
  color: #d51243;
  font-size: 18px;
}

* .ala .weekend-sale {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1175px;
  height: 200px;
}

* .ala .weekend-sale img {
  width: 570px;
  height: 251px;
  border-radius: 7px;
  cursor: pointer;
}

* .ala .entry-tittle {
  width: 1175px;
  height: auto;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .ala .entry-tittle .entry1 h4 {
  font-size: 20px;
  color: #202435;
}

* .ala .entry-tittle .entry1 h5 {
  font-size: 12px;
  margin-top: -10px;
  color: #9b9bb4;
}

* .ala .entry-tittle .view-all-button {
  border: 1px solid #9b9bb4;
  border-radius: 25px;
  width: 120px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

* .ala .entry-tittle .view-all-button h5 {
  font-size: 12px;
  color: #9b9bb4;
  position: relative;
  top: 4px;
}

* .ala .entry-tittle .view-all-button h5 i {
  position: relative;
  right: -10px;
}

* .ala .entry-tittle .view-all-button h5 h5:hover {
  color: #00b853;
}

* .ala .best-sellers-cards {
  border: 1px solid #c2c2d3;
  z-index: 1;
  width: 1175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend {
  margin-top: -1px;
  margin-left: -1px;
  padding: 18px;
  border: 1px solid #c2c2d3;
  border-top-left-radius: 7px;
  width: 235.6px;
  height: 380px;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend h4 {
  font-size: 8px;
  background-color: #71778e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 80px;
  border-radius: 3px;
  letter-spacing: -0.5px;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend h5 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 50px;
  border-radius: 3px;
  font-size: 13px;
  background-color: #0692e3bc;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend img {
  width: 200px;
  z-index: -1;
  position: relative;
  margin-top: -57px;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc h3 {
  font-size: 14.5px;
  cursor: pointer;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc h3:hover {
  color: #3c4c94;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc #IN-STOCK {
  letter-spacing: -1px;
  font-size: 11px;
  color: #00b853;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .star .non-yellow {
  color: #c2c2d3;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .star h1 {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 2px;
  color: #71778e;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .sale-price {
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .sale-price .price-before {
  color: #c2c2d3;
  font-size: 15.3px;
  text-decoration: line-through;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .sale-price .price-now {
  color: #d51243;
  font-size: 18px;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .add-to-card-button {
  border-radius: 55px;
  background-color: #ffcd00;
  width: 194px;
  height: 34px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

* .ala .best-sellers-cards .italian-style .sale-and-recommend .choco-desc .add-to-card-button h1 {
  font-size: 12px;
  color: #202435;
  position: relative;
  top: 5px;
}

* .ala .auto-ship-oreder {
  width: 1175px;
  height: 64px;
  border-radius: 5px;
  background-color: #fbeacf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  cursor: pointer;
}

* .ala .auto-ship-oreder h5 {
  color: #202435;
  font-size: 16px;
  letter-spacing: 2.5px;
}

* .ala .last-choco-lists-cards {
  width: 1175px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend {
  margin-top: -1px;
  margin-left: -1px;
  padding: 18px;
  border: 1px solid #c2c2d3;
  border-top-left-radius: 7px;
  width: 235.6px;
  height: auto;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend h4 {
  font-size: 8px;
  background-color: #71778e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 80px;
  border-radius: 3px;
  letter-spacing: -0.5px;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend h5 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 50px;
  border-radius: 3px;
  font-size: 13px;
  background-color: #0692e3bc;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend img {
  width: 200px;
  z-index: -1;
  position: relative;
  margin-top: -57px;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc h3 {
  font-size: 14.5px;
  cursor: pointer;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc h3:hover {
  color: #3c4c94;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc #IN-STOCK {
  letter-spacing: -1px;
  font-size: 11px;
  color: #00b853;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .star .non-yellow {
  color: #c2c2d3;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .star h1 {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 2px;
  color: #71778e;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .sale-price {
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .sale-price .price-before {
  color: #c2c2d3;
  font-size: 15.3px;
  text-decoration: line-through;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .sale-price .price-now {
  color: #d51243;
  font-size: 18px;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .add-to-card-button {
  border-radius: 55px;
  background-color: #ffcd00;
  width: 194px;
  height: 34px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .ala .last-choco-lists-cards .italian-style .sale-and-recommend .choco-desc .add-to-card-button h1 {
  font-size: 12px;
  color: #202435;
  position: relative;
  top: 5px;
}

* .ala .after-last-card-lists-1 {
  width: 1175px;
  height: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .ala .after-last-card-lists-1 img {
  width: 369px;
  height: 218px;
  cursor: pointer;
  border-radius: 5px;
}

* .ala .after-last-card-lists-2 {
  width: 1175px;
  height: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .ala .after-last-card-lists-2 img {
  width: 369px;
  height: 250px;
  border-radius: 5px;
  cursor: pointer;
}

* .ala .after-last-card-lists-desc {
  width: 1175px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

* .ala .after-last-card-lists-desc .card-list-desc {
  width: 369px;
  height: auto;
}

* .ala .after-last-card-lists-desc .card-list-desc h5 {
  color: #9b9bb4;
  font-size: 13px;
}

* .ala .after-last-card-lists-desc .card-list-desc h4 {
  font-size: 20px;
  color: #202435;
}

* .ala .after-last-card-lists-desc .card-list-by-bacola {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

* .ala .after-last-card-lists-desc .card-list-by-bacola h5 {
  color: #71778e;
  font-size: 14px;
}

* .ala .after-last-card-lists-desc .card-list-by-bacola h4 {
  color: #202435;
  font-size: 14px;
}

* .ala .after-last-card-lists-desc .card-list-by-bacola .by-bacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
}

* .ala .after-last-card-lists-desc .card-list-by-bacola .by-bacola i {
  font-size: 14px;
  color: #71778e;
}

* .ala .after-last-card-lists-desc .card-list-by-bacola .by-bacola h3 {
  font-size: 14px;
  color: #202435;
  position: relative;
  top: 1px;
}

* footer .discount-background {
  width: 100%;
}

* footer .discount-background .discount-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 110px;
  width: 100%;
  height: 330px;
  padding-left: 170px;
  background-color: #233A95;
}

* footer .discount-background .discount-location .discount-desc {
  width: 470px;
  height: 100%;
  padding-top: 40px;
}

* footer .discount-background .discount-location .discount-desc h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
}

* footer .discount-background .discount-location .discount-desc h3 {
  color: #ffffff;
  font-size: 26px;
}

* footer .discount-background .discount-location .discount-desc .join-desc {
  margin-top: 20px;
}

* footer .discount-background .discount-location .discount-desc .join-desc h1 {
  font-size: 13px;
  color: #71778e;
}

* footer .discount-background .discount-location .discount-desc .join-desc h2 {
  font-size: 13px;
  color: #71778e;
  margin-top: -7px;
}

* footer .discount-background .discount-location .discount-desc .discount-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  margin-top: 40px;
}

* footer .discount-background .discount-location .discount-desc .discount-email .email {
  border: solid 1px #f3f4f7;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  background-color: #f3f4f7;
  padding-left: 15px;
  font-size: 15px;
}

* footer .discount-background .discount-location .discount-desc .discount-email .fa-solid {
  position: absolute;
  font-size: 25px;
  left: 500px;
  top: 19px;
}

* footer .discount-background .discount-location .discount-desc .discount-email button {
  width: 120px;
  border: none;
  border-radius: 4px;
  height: 50px;
  background-color: #233A95;
  margin-left: -125px;
  margin-top: 5px;
  color: white;
}

* footer .discount-background .discount-location .img-discount {
  width: 510px;
  height: 277px;
  margin-left: 200px;
  margin-top: 53px;
}

* footer .footer-backgroundd {
  height: 20px;
  width: 100%;
  background-color: #f7f8fd;
}

* footer .discount-menu {
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* footer .discount-menu div {
  opacity: 0.2;
  height: 35px;
  width: 1px;
  background-color: #71778e;
}

* footer .discount-menu h5 {
  font-size: 13px;
  color: black;
}

* footer .footer-background {
  background-color: #f7f8fd;
  margin-top: -30px;
  height: 550px;
}

* footer .line-1 {
  height: 1px;
  width: 1200px;
  background-color: #71778e;
  opacity: 0.2;
  margin-top: 25px;
}

* footer .bacola-menu {
  margin-top: 100px;
  width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* footer .bacola-menu ul h5 {
  font-size: 15px;
  color: #202435;
  font-weight: 500;
  cursor: pointer;
}

* footer .bacola-menu ul div {
  margin-top: 20px;
}

* footer .bacola-menu ul li {
  cursor: pointer;
  list-style-type: none;
  color: #555a6c;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 100;
}

* footer .last-footer {
  margin-top: 15px;
  height: 100px;
  width: 1175px;
}

* footer .last-footer .social-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

* footer .last-footer .social-location .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

* footer .last-footer .social-location .social-footer .icon-phone-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid 1px #71778e;
}

* footer .last-footer .social-location .social-footer .icon-phone-footer i {
  color: #71778e;
}

* footer .last-footer .social-location .social-footer .social-number h5 {
  font-size: 20px;
  color: #202435;
}

* footer .last-footer .social-location .social-footer .social-number h4 {
  font-size: 11px;
  opacity: 0.7;
  color: #202435;
  position: relative;
  top: -5px;
  font-weight: 100;
}

* footer .last-footer .social-location .app-mobile {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* footer .last-footer .social-location .app-mobile .footer-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #71778e;
  cursor: pointer;
  color: #233A95;
}

* footer .last-footer .social-location .app-mobile .footer-social-icon i {
  font-size: 15px;
}

* footer .last-footer .social-location .app-mobile img {
  cursor: pointer;
  width: 116px;
  height: 36px;
}

* footer .last-footer .social-location .app-mobile .footer-download-mobile-font h5 {
  font-size: 14px;
  color: #202435;
}

* footer .last-footer .social-location .app-mobile .footer-download-mobile-font h4 {
  font-size: 12px;
  opacity: 0.7;
  color: #202435;
  position: relative;
  top: -5px;
  font-weight: 100;
}

* footer .last-footer .bacola-footer-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* footer .last-footer .bacola-footer-desc .bacola-desc-1 {
  padding-left: 20px;
}

* footer .last-footer .bacola-footer-desc .bacola-desc-1 h5 {
  font-size: 12px;
  color: #9b9bb4;
  font-weight: 100;
}

* footer .last-footer .bacola-footer-desc .bacola-desc-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* footer .last-footer .bacola-footer-desc .bacola-desc-2 h5 {
  font-size: 12px;
  color: #9b9bb4;
  cursor: pointer;
  font-weight: 100;
}

* footer .last-footer .bacola-footer-desc .bacola-desc-2 h5:hover {
  text-decoration: underline;
}

* footer .last-footer .bacola-footer-desc .bacola-desc-2 img {
  cursor: pointer;
}

.slick-arrow {
  border-radius: 50%;
  border: 1px solid #555a6c;
  width: 50px !important;
  height: 50px !important;
  background-color: white;
  color: #71778e;
  z-index: 8888;
}

.slick-prev:before, .slick-next:before {
  color: #71778e;
}

.slick-prev:before:hover, .slick-next:before:hover {
  color: #71778e;
}

.overlay {
  position: fixed;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}

.carousel-control-next-icon {
  opacity: 0;
}

.carousel-control-prev-icon {
  opacity: 0;
}

section .my-account-line {
  height: 0.5px;
  width: 100%;
  background-color: #202435;
  opacity: 0.2;
  margin-top: 85px;
}

section .my-account-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 165px;
  padding-top: 10px;
}

section .my-account-menu h5 {
  letter-spacing: -0.2px;
  font-size: 12px;
  color: #3E445A;
}

section .my-account-menu h4 {
  letter-spacing: -0.2px;
  font-size: 12px;
  color: #9b9bb4;
}

section .register-div {
  width: 1175px;
  height: 300px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .register-div .my-account-login {
  width: 550px;
  height: 200px;
}

section .register-div .my-account-login h5 {
  font-size: 16px;
  color: #202435;
}

section .register-div .my-account-login .regiser-line {
  width: 100%;
  height: 0.5px;
  background-color: #202435;
  opacity: 0.1;
  margin-top: 10px;
}

section .register-div .my-account-login h4 {
  margin-top: 10px;
  font-size: 14px;
  color: #202435;
  font-weight: 400;
}

section .register-div .my-account-login .privacy {
  position: relative;
  font-size: 13px;
  top: -26px;
  left: 450px;
  cursor: pointer;
  color: #ed174a;
  -webkit-text-decoration: underline #ed174a;
          text-decoration: underline #ed174a;
}

section .register-div .my-account-login .my-account-login-input {
  border: none;
  background-color: #f3f4f7;
  border-radius: 3px;
  height: 40px;
  width: 548px;
  margin-top: 5px;
}

section .register-div .my-account-login h3 {
  color: #2bbef9;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

section .register-div .my-account-login h3:hover {
  -webkit-text-decoration: underline #233a95;
          text-decoration: underline #233a95;
  color: #233A95;
}
/*# sourceMappingURL=index.css.map */